.game-square { 
    height: 96%; 
    text-align: center;
    line-height: 0.85;
    background-color: lightblue;
}

p { 
    display: inline;
    margin: 10px;
    font-size: 14rem;
    overflow: hidden;
}

.noClick {
    pointer-events: none;
}